/*  Agrego el reseteo de margin y padding para que en lugar de cada navegador poner los suyos
    por default, vos tenes la libertad (y el trabajo) de definir unos que se respeten en todos los navegadores
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10pt;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}
.container{
    display: flex;
    width: 856px;
    flex-wrap: wrap;
}
.sections{
    background-color: blue;
    border-radius: 15px;
    padding: 17px 32px;
    width: 100%;
    margin-bottom: 20px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

div h1{
    border-radius: 0px 0px 15px 15px;
}

.indicator{
    background-color: #FFFF54;
    width: 5px;
    margin: 0.5% 0px;
    height: auto;
    border-radius: 3px;
}

.card {
    background-color: white;
    color: blue;
    height: auto;
    padding: 13px;
    border-radius: 12px;
    width: 29%;
    margin: 0;
    display: flex;
}

.card_comment {
    background-color: white;
    color: blue;
    height: auto;
    padding: 13px;
    border-radius: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

input[type="radio"] {
    /* transform: scale(2); */
    margin-left: 0px;
    margin-right: 13px;
    accent-color: blue;
    border: 20px;
    width: 25px;
    height: 25px;
}



/*test style*/

.textareaField label{
    font-weight: 700;
}

.textareaField{
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    min-height: 2.5rem;
    justify-content: flex-end;
    margin-top: 2.3rem;
    width: 100%;
    margin-right: 1rem;
    height: fit-content;

}

textarea{
    border-style: none  ;
    border-bottom: 1px solid blue;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 0;
    cursor: text;
    background-color: transparent;
    color: inherit;
    transition: all 0.3s ease;
    margin-top: -1rem;
    height: fit-content;
}

textarea:not(:placeholder-shown), textarea:focus{
    height: auto;
    transition: all 0.3s ease;
    outline: 0;
    margin-top: 0;
}
